.home-content-container {
  background var(--background-color-1)


  .home-article-list {

    .home-article-item {
      position relative

      /**keep-container(true, 1.015, 1.015, 28px, 38px)**/
      keep-container(true, 1.015, 1.015, 25px, 15px)

      .top-icon {
        position absolute
        top 10px
        right 12px
        color var(--text-color-4)
        font-size 1.2rem
        transform rotate(45deg)


        +keep-tablet() {
          font-size 1.16rem
        }
      }


      .home-article-title {
        position relative
        margin 0
        color var(--text-color-2)
        font-weight 600
        /**font-size 1.4rem**/
        font-size 1.2rem
        line-height 1.5

        +keep-tablet() {
          font-size 1.3rem
        }


        +keep-mobile() {
          font-size 1.2rem
        }
      }


      .home-article-content {
        /**margin 20px 0**/
        margin 15px 0
        color var(--text-color-3)
        text-align justify
        word-wrap break-word
      }


      .home-article-meta-info-container {
        display flex
        align-items center
        justify-content space-between
        color var(--text-color-4)
        font-size 0.92rem

        .home-article-meta-info {
          letter-spacing 0.5px

          span {
            margin-right 10px

            &:last-child {
              margin-right 0
            }

            ul
            li {
              display inline
            }
          }

          .home-article-category {
            +keep-mobile() {
              display none
            }
          }

          .home-article-tag {
            +keep-tablet() {
              display none
            }
          }
        }


        .read-more {
          display flex
          align-items center
        }


        hr {
          flex 1
          height 1px
          margin 0 10px
          background var(--border-color)
          border none
        }


        a {
          color var(--text-color-4)

          &:hover {
            color var(--primary-color)
          }
        }
      }
    }
  }
}
  .joe_index__title {
      border-bottom: 1px solid var(--shadow-color)
  }

  .joe_index__title,.joe_index__title-notice,.joe_index__title-title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center
  }

  .joe_index__title-title {
      position: relative;
      color: var(--theme);
      font-weight: 500;
      height: 44px;
      line-height: 44px
  }

  .joe_index__title-title .item {
      cursor: pointer;
      margin-right: 16px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: var(--routine);
      -webkit-transition: color .35s;
      transition: color .35s
  }

  .joe_index__title-title .item.active {
      color: var(--text-color-3);
      font-weight: 700
  }

  .joe_index__title-title .totals {
      display: inline-block;
      margin-left: 5px;
      padding: 0 5px;
      height: 18px;
      line-height: 18px;
      font-size: 12px;
      color: var(--minor);
      background: var(--sub-background);
      border-radius: 3px
  }

  .joe_index__title-title .line {
      position: absolute;
      bottom: -1px;
      left: 0;
      height: 2px;
      content: "";
      background: var(--theme);
      border-radius: 1px;
      -webkit-transition: left .35s,width .35s;
      transition: left .35s,width .35s
  }

  .joe_index__hot-list.hotlist .item .link,.joe_index__title-title.default .item {
      cursor: default
  }

  .joe_index__title-title.pl-15 {
      padding-left: 15px
  }

  .joe_index__title-notice {
      margin-left: auto;
      height: 40px
  }

  .joe_index__title-notice i,.joe_index__title-notice svg {
      margin-right: 2px;
      vertical-align: bottom
  }

  .joe_index__title-notice a {
      color: var(--text-color-3);
      line-height: 20px;
      max-width: 300px;
      -webkit-transition: color .35s;
      transition: color .35s
  }

  .joe_index__title-notice a:hover {
      color: var(--primary-color)
  }
  .joe_index__hot {
      padding: 15px 0px 15px 0px;
  }

  .joe_index__hot.categories {
      padding-bottom: 10px
  }

  .joe_index__hot-list {
      display: grid;
      grid-template-columns: repeat(4,1fr);
      -webkit-column-gap: 15px;
      -moz-column-gap: 15px;
      column-gap: 15px;
      padding: 12px;
      border-bottom: 1px solid var(--shadow-color);
  }

  .joe_index__hot-list.hotlist .item {
      margin-bottom: 0
  }

  .joe_index__hot-list.hotlist .item .link.clickable {
      cursor: pointer
  }

  .joe_index__hot-list.hotlist .item .link .inner .post-nums,.joe_index__hot-list.hotlist .item .link .inner .title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: absolute;
      color: #fff
  }

  .joe_index__hot-list.hotlist .item .link .inner .title {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      font-size: 14px;
      background: rgba(0,0,0,.4);
      -webkit-transition: background .5s;
      transition: background .5s;
      will-change: background
  }

  .joe_index__hot-list.hotlist .item .link .inner:hover .image {
      background: rgba(0,0,0,.5);
      -webkit-transform: scale(1.1);
      transform: scale(1.1)
  }

  .joe_index__hot-list.hotlist .item .link .inner:hover .title {
      background: rgba(0,0,0,.3)
  }

  .joe_index__hot-list.hotlist .item .link .inner .post-nums {
      z-index: 1;
      top: 5px;
      right: 5px;
      height: 18px;
      padding: 0 8px;
      white-space: nowrap;
      font-size: 12px;
      background-image: -webkit-gradient(linear,left top,right top,from(#fc712a),to(#f84c39));
      background-image: linear-gradient(to right,#fc712a,#f84c39);
      background-color: #f84c39;
      border-radius: 8px
  }

  .joe_index__hot-list.hotlist .item:nth-child(2) {
      -webkit-animation-delay: .1s;
      animation-delay: .1s
  }

  .joe_index__hot-list.hotlist .item:nth-child(3) {
      -webkit-animation-delay: .2s;
      animation-delay: .2s
  }

  .joe_index__hot-list.hotlist .item:nth-child(4) {
      -webkit-animation-delay: .3s;
      animation-delay: .3s
  }

  .joe_index__hot-list .item {
      margin-bottom: 10px;
      border: 1px solid var(--shadow-color);
      overflow: hidden;
      border-radius: 4px
  }

  .joe_index__hot-list .item .link {
      display: block
  }

  .joe_index__hot-list .item .link .inner {
      position: relative
  }

  .joe_index__hot-list .item .link .inner:hover .image {
      opacity: .85
  }

  .joe_index__hot-list .item .link .inner:hover .title {
      background: var(--shadow-color)
  }

  .joe_index__hot-list .item .link .inner .image {
      width: 100%;
      height: 120px;
      -o-object-fit: cover;
      object-fit: cover;
      border-radius: var(--radius-inner) var(--radius-inner) 0 0;
      -webkit-transition: opacity .35s,-webkit-transform .3s;
      transition: opacity .35s,transform .3s;
      transition: opacity .35s,transform .3s,-webkit-transform .3s;
      will-change: transform

      +keep-mobile() {
          height: 50px;
      }
  }

  .joe_index__hot-list .item .link .inner .title {
      font-size: 13px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
      padding: 0 8px;
      line-height: 32px;
      color: var(--minor);
      background: var(--classD);
      border-radius: 0 0 var(--radius-inner) var(--radius-inner)
  }

  .joe_index__hot-list .item .link .inner .post-nums {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: absolute;
      z-index: 1;
      top: 5px;
      right: 5px;
      height: 18px;
      padding: 0 8px;
      font-style: normal;
      color: #fff;
      white-space: nowrap;
      font-size: 12px;
      background-image: -webkit-gradient(linear,left top,right top,from(#2afcfc),to(#4f3edd));
      background-image: linear-gradient(to right,#2afcfc,#4f3edd);
      background-color: #4f3edd;
      border-radius: 8px
  }

  .joe_index__hot-list-tag {
      padding-top: 20px;
      overflow: hidden
  }

  .joe_index__hot-list-tag .item {
      float: left;
      margin: 0 6px 10px;
      font-size: 14px;
      color: var(--routine);
      background: var(--background-tags);
      border: 1px solid var(--classB);
      border-radius: 3px;
      -webkit-transition: -webkit-transform .25s;
      transition: transform .25s;
      transition: transform .25s,-webkit-transform .25s
  }

  .joe_index__hot-list-tag .item a {
      display: block;
      padding: 0 10px;
      height: 28px;
      line-height: 28px;
      font-size: 0;
      color: var(--routine)
  }

  .joe_index__hot-list-tag .item a span {
      display: inline-block;
      max-width: 120px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 14px
  }

  .joe_index__hot-list-tag .item a em {
      display: inline-block;
      padding-left: 5px;
      vertical-align: top;
      font-size: 14px;
      font-style: normal;
      color: var(--theme)
  }

  .joe_index__hot-list-tag .item:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      background: var(--theme);
      border-color: var(--theme);
      -webkit-box-shadow: var(--box-shadow-tags);
      box-shadow: var(--box-shadow-tags)
  }

  .joe_index__hot-list-tag .item:hover a,.joe_index__hot-list-tag .item:hover a em {
      color: var(--classD)
  }

.home-content-container .home-article-list .home-article-item:hover{
  color: var(--primary-color);
    .home-article-title a{
      color: var(--primary-color);
    }
}
